@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html,
body {
    width: 100%;
    display: grid;
    place-items: center;
}

#container {
    width: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#sedans {
    width: auto;
    height: 450px;
    background-color: hsl(31, 77%, 52%);
    border-radius: 7px 0px 0px 7px;
}

#suvs {
    width: auto;
    height: 450px;
    background-color: hsl(184, 100%, 22%);
}

#luxury {
    width: auto;
    height: 450px;
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 7px 7px 0px;
}

.icone {
    margin-top: 50px;
    margin-left: 50px;
}

.title {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 32pt;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    text-align: left;
    margin-left: 50px;
}

.text {
    margin: 30px 60px 0px 50px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
}

.button {
    margin: 70px 145px 0px 50px;
    padding: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

#sedans .button {
    color: hsl(31, 77%, 52%);
}

#suvs .button {
    color: hsl(184, 100%, 22%);
}

#luxury .button {
    color: hsl(179, 100%, 13%);
}

#sedans .button:hover,
#suvs .button:hover,
#luxury .button:hover {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}

#credits {
    font-family: "Lexends Deca", sans-serif;
    font-size: 12pt;
    text-align: center;
    margin: 30px 0px 0px 0px;
}

#credits a {
    color: #000000;
    text-decoration: none;
    font-family: "Paytone One", sans-serif;
    font-weight: 300;
    padding: 8px;
    margin-top: -14px;
    transition: .5s;
}

#credits a:hover {
    color: #ff32ed;
    cursor: pointer;
}

@media only screen and (min-width: 300px) and (max-width: 630px) {

    #container {
        width: 90%;
        flex-direction: column;
        margin-top: 40px;
    }

    #sedans,
    #suvs,
    #luxury {
        max-height: 360px;
        max-width: 400px;
    }

    #sedans {
        border-radius: 7px 7px 0px 0px;
    }

    #luxury {
        border-radius: 0px 0px 7px 7px;
    }

    .icone {
        margin: 40px 20px 0px 30px;
    }

    .title {
        font-size: 28pt;
        margin-left: 30px;
    }

    .text {
        font-size: 10pt;
        margin: 15px 30px 0px 30px;
    }

    .button {
        max-width: 180px;
        margin: 40px 100px 0px 30px;
    }

    #credits {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0px;
        margin: 40px 0px 40px 0px;
        font-size: 10pt;
    }

    #credits a:hover {
        color: #11f9ff;
    }
}

@media screen and (min-width: 631px) and (max-width: 980px) {
    #container {
        width: 95%;
        flex-direction: row;
        margin-top: 40px;
    }

    #sedans,
    #suvs,
    #luxury {
        max-height: 350px;
        min-width: 200px;
    }

    .icone {
        margin: 40px 20px 0px 30px;
    }

    .title {
        font-size: 30pt;
        margin-left: 30px;
    }

    .text {
        font-size: 10pt;
        margin: 15px 15px 0px 30px;
        line-height: 20px;
    }

    .button {
        padding: 8px 4px;
        max-width: 100px;
        margin: 40px 0px 0px 30px;
    }

    #credits {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0px;
        margin: 40px 0px 40px 0px;
        font-size: 10pt;
    }

    #credits a:hover {
        color: #11f9ff;
    }
}